<%- include("templates/header") %> 
	<h2>Users</h2>
    <ul>
        <% for(let i=0; i < users.length; i++) { %>
            <%- include('templates/user', {user: users[i]})  %>
        <% } %>
    </ul>
<%- include("templates/footer") %>