<%- include("templates/header") %>
    <!-- <h2>Hello, <%= req.session.name %>!</h2> -->
    <form action='/members' method='get'><button class="btn btn-primary rounded-pill px-3">Go To Members Area</button></form></br>
    <form action='/logout' method='get'><button class="btn btn-secondary rounded-pill px-3">Logout</button></form>
<%- include("templates/footer") %>