<!-- <li> -->
    <span class="lead"><%= user.name %> (<%= user.user_type %>)</span>
    <a href="/promote/<%= user._id %>" class="btn btn-danger rounded-pill px-3" >Promote to Admin</a>
    <a href="/demote/<%= user._id %>" class="btn btn-success rounded-pill px-3">Demote to User</a></br></br>
<!-- </li> -->
